* { /*ブラウザのmargin等をリセット*/
  margin:0 auto; 
  padding:0;
}

.btn {/*登録、確認など実行系のボタン*/
    border-radius: 5px;
    background-color: rgb(255, 218, 0);
    padding: 10px;
    text-decoration: none;
    /*color: black;*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /*width: 120px;*/
    height: 50px;
  }
  .backbtn {/*戻るボタン 左上についている戻るボタン*/
    border-radius: 5px;
    background-color: #FFF4CB;/*戻るボタンの色変えました*/ /*rgb(255, 218, 0);*/
    padding: 10px;
    position: absolute;/*relativeだったけどabsoluteにしました*/
    top: 20px;
    left: 10px;
    text-decoration: none;
    color: black; /*周りが黒くならない*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .backbtn_middle {/*戻るボタン 完了画面の戻るボタン*/
    border-radius: 5px;
    background-color: #FFF4CB;/*戻るボタンの色変えました*/ /*rgb(255, 218, 0);*/
    padding: 10px;
    /*position: absolute;/*relativeだったけどabsoluteにしました*/
    /*top: auto;
    left: 10px;*/
    text-decoration: none;
    color: black; /*周りが黒くならない*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 20px;
    margin: 20px;
  }

  .backbtn3 {/*戻るボタン？完了画面の戻るボタン　位置が固定されていない*/
    border-radius: 5px;
    background-color: #FFF4CB;/*戻るボタンの色変えました*/ /*rgb(255, 218, 0);*/
    padding: 10px;
    /*position: relative;/*relativeだったけどabsoluteにしました*/
    /*top: auto;
    left: 10px;*/
    text-decoration: none;
    color: black; /*周りが黒くならない*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .backbutton{/*システムトップのボタン　色と影*/
    background: #FFF4CB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    /*margin: 20px;*/
    /*width: 321px;
    height: 113px;
    left: 255px;
    top: 307px;*/
  }

.id{/*ユーザーIDの表示場所*/
  right:1000px;
  top:30px;
  margin:0em;
}

  header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: darkgrey;
    align-items: center;
  }
   
  .title {
    margin-right: auto;
  }
   
  .menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
  }

  div.left {
    text-align: left; 
}
div.center {
    text-align: center; 
}
div.right {
    text-align: right; 
}

.red {
	height: 300px;
	background-color: red;
}
.blue {
	height: 300px;
	background-color: blue;
}

.darkgray {/*ヘッダーグレー*/
	height: 100px;
	background-color: darkgray;
  margin: auto;
}

.green {/*ヘッダー児童生徒*/
	height: 100px;
	background-color: #C1F6CD;
  margin: auto;
}

.skyblue {/*ヘッダー水色*/
	height: 100px;
	background-color: #92e2f7;
}

.rightblue {/*ヘッダークラス*/
	height: 100px;
	background-color: #C1EAF6;
  margin: auto;
}

.blue {/*ヘッダー座席配置*/
	height: 100px;
	background-color: #98D4E7;
  margin: auto;
}

.darkblue {/*ヘッダー評価*/
	height: 100px;
	background-color: #0AA6D8;
  margin: auto;
}

.button{/*システムトップのボタン　色と影*/
  background: #B6D8FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  /*margin: 20px;*/
  /*width: 321px;
  height: 113px;
  left: 255px;
  top: 307px;*/
}

.button_grey{/*○○トップに戻るボタン？ではなく左下のキャンセルボタン　色と影と大きさ*/
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  width: 120px;
  height: 50px;
  /*width: 321px;
  height: 113px;
  left: 255px;
  top: 307px;*/
}

.center{
  /*display:inline-block;*/
  text-align: center;
}

/*#btn_stu {/*システムトップのボタン 使ってない
  position: absolute;
width: 250px;
height: 80px;
left: 255px;
top: 200px;
font-size: 30px;
margin: 20px;
}*/

/*#btn_class {/*システムトップのボタン　使ってない
  /*position: absolute;
width: 250px;
height: 80px;
left: 860px;
top: 307px;
font-size: 33px;
}*/

/*#btn_seat {/*システムトップのボタン 使ってない
  /*position: absolute;
  width: 250px;
height: 80px;
left: 255px;
top: 523px;
font-size: 30px;
}*/

/*#btn_grade{/*システムトップのボタン　使ってない
  /*position: absolute;
  width: 250px;
height: 80px;
left: 864px;
top: 527px;
/*font-size: 25px;
}*/

/*#btn_manastu {/*児童閲覧のボタン　使ってない
  /*position: absolute;
  /*display: inline-block;
  width: 700px;
height: 100px;
left: 130px;
top: 180px;
font-size: 30px;
}*/

/*#btn_registu {/*児童登録のボタン 使ってない
  /*position: absolute;
  width: 400px;
height: 100px;
left: 400px;
top: 700px;
font-size: 30px;
}*/

#btn_check {/*確認ボタン　複数のボタンに使用予定？*/
  /*position: absolute;*/
  width: 100px;
  height: 50px;
  font-size: 20px;
}

#btn_regi {/*登録ボタン　右下に置く　複数のボタンに使用予定？*/
  position: absolute;
  width: 120px;
  height: 50px;
  right: 40px;
  font-size: 20px;
}

#btn_left{ /*左下のキャンセル系ボタン*/
  position:absolute; 
  left:40px; 
  bottom: 50px; 
  font-size: 20px;
}

#btn_right{ /*右下の確定系ボタン*/
  position:absolute; 
  right:40px; 
  bottom: 50px; 
  font-size: 20px;
}